
.board {
    padding: 3em;
    text-align: center;
    font-family: monospace;
}

.row > div {
    float: left;
    height: 100px;
    width: 100px;
    cursor: pointer;
    line-height: 100px;
    font-size: 75px;
}

.row {
    clear: both;
    width: 302px;
    margin: 0 auto;
}

.winnerTitle {
    margin: 0%;
    padding: inherit;
}

.resetGame{
    cursor: pointer;
}

.top {
    border-bottom: solid 1px;
}
.bottom {
    border-top: solid 1px;
}
.left {
    border-right: solid 1px;
}
.right {
    border-left: solid 1px;
}